GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbx5y94IbSh0Ol1WEBIPTMjIugk1gHG8AdtU6MB7dPiQYlbfCxsfMk6ajWaS5L9HMLbF/exec
CONTACT_RECIPIENTS=kawaljeet.karir9@gmail.com,kawaljeet@aesthara.in
